﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Elmis.io", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
					<li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
					<li>@Html.ActionLink("Offers", "Index", "Offers")</li>
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
		<footer class="navbar-fixed-bottom">
			<hr />
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
