﻿	<!-- campaign list-->
	<ul class="board-list u-gutter u-clearfix" data-bind="foreach: campaigns">
	<li>
		<i type="button" class="fa fa-lg fa-trash" data-toggle="modal" data-target=".deleteCampaign" data-bind="click: $parent.setSelectedCampaign"></i>
		<i type="button" class="fa fa-lg fa-pencil-square" data-toggle="modal" data-target=".updateCampaign" data-bind="click: $parent.setSelectedCampaign"></i>
		<a data-bind="text: description, attr: { href: missionCommandsUrl }, click: $parent.setSelectedCampaign">
		</a>
	</li>
</ul>

	<ul class="board-list u-gutter u-clearfix js-board-list" data-bind="with: hideCreateCampaignButton">
		<li class=" board-list-item--add-board js-add-board" data-toggle="modal" data-target=".campaignDetail">
			Create a Campaign
		</li>
	</ul>

	<form class="modal fade deleteCampaign" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bind="with: selectedCampaign">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="deleteCampaignModalTitle" data-bind="text: 'You are about to Delete ' + description()"></h4>
				</div>
				<div class="modal-body">
					<button type="reset" class="btn btn-primary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger" data-bind="click: $parent.deleteCampaign" data-dismiss="modal">Delete Campaign</button>
				</div>
			</div>
		</div>
	</form>

	<form class="modal fade updateCampaign" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bind="with: selectedCampaign">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="updateCampaignModalTitle">Campaign Details</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="updateCampaignDescription">Description:</label>
						<input type="text" data-bind="value: description" class="form-control" id="updateCampaignDescription" placeholder="campaign description">
					</div>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" data-bind="click: $parent.updateCampaign" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</form>

	<form class="modal fade campaignDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Campaign Details</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="campaignDescription">Description:</label>
						<input type="text" data-bind="value: campaignDescription" class="form-control" id="campaignDescription" placeholder="campaign description">
					</div>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" data-bind="click: addCampaign" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</form>