﻿
<div class="board-canvas" style="height: 865px;">
	<div id="board" class="u-fancy-scrollbar ui-sortable">
		<!-- ko foreach: missionCommands -->
		<div class="list">
			<div class="list-header" attr="name">
				<a href="#" title="Delete this status" type="button" class="fa fa-lg fa-trash" data-toggle="modal" data-target=".deletemissionCommand" data-bind="click: $parent.setSelectedmissionCommand"></a>
				<a href="#" title="Edit this status" type="button" class="fa fa-lg fa-pencil-square" data-toggle="modal" data-target=".updatemissionCommand" data-bind="click: $parent.setSelectedmissionCommand"></a>
				<h2 class="h2" data-bind="text: name"></h2>
			</div>
			<div class="list-cards u-fancy-scrollbar u-clearfix" data-bind="sortable: missions">
				<div class="list-card js-member-droppable ui-droppable">
					<div class="list-card-details" data-bind="text: name"></div>
					<i href="#" class="fa fa-pencil-square" data-toggle="modal" data-target=".updatemission" data-bind="click: $root.setSelectedmission"></i>
				</div>
			</div>
			<a class="fa fa-plus-circle open-card-composer js-open-card-composer" data-toggle="modal" data-target=".missionDetail" data-bind="click: $parent.setSelectedmissionCommand">&nbsp; Create a mission</a>
		</div>
		<!-- /ko -->
		<div class="edit-controls keep u-clearfix" data-bind="with: hideCreateMissionCommand">
			<a href="#" class="fa fa-5x fa-plus-square" data-toggle="modal" data-target=".missionCommandDetail"></a>
		</div>
	</div>
</div>

<!-- missionCommands CRUD -->

<form class="modal fade deletemissionCommand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bind="with: selectedMissionCommand">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="deletemissionCommandModalTitle" data-bind="text: 'You are about to Delete ' + name()"></h4>
			</div>
			<div class="modal-body">
				<button type="reset" class="btn btn-primary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-danger" data-bind="click: $parent.deleteMissionCommand" data-dismiss="modal">delete mission status</button>
			</div>
		</div>
	</div>
</form>

<form class="modal fade updatemissionCommand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bind="with: selectedMissionCommand">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="updatemissionCommandModalTitle">mission status Details</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="updateMissionCommandDescription">Name:</label>
					<input type="text" data-bind="value: name" class="form-control" id="updateMissionCommandDescription" placeholder="missionCommand description">
				</div>
			</div>
			<div class="modal-footer">
				<button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" data-bind="click: $parent.updateMissionCommand" data-dismiss="modal">Save changes</button>
			</div>
		</div>
	</div>
</form>

<form class="modal fade missionCommandDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Mission Status Details</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="missionCommandName">Name:</label>
					<input type="text" data-bind="value: missionCommandName" class="form-control" id="missionCommandName" placeholder="Mission Status Name">
				</div>
			</div>
			<div class="modal-footer">
				<button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" data-bind="click: addMissionCommand" data-dismiss="modal">Save changes</button>
			</div>
		</div>
	</div>
</form>

<!-- missions CRUD -->

<form class="modal fade deletemission" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bind="with: selectedMissionCommand">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="deletemissionCommandModalTitle" data-bind="text: 'You are about to Delete ' + name()"></h4>
			</div>
			<div class="modal-body">
				<button type="reset" class="btn btn-primary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-danger" data-bind="click: $parent.deleteMissionCommand" data-dismiss="modal">delete mission status</button>
			</div>
		</div>
	</div>
</form>

<form class="modal fade updatemission" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bind="with: selectedMission">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="updatemissionModalTitle">mission Details</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="updatemissionName">Name:</label>
					<input type="text" data-bind="value: missionName" class="form-control" id="updatemissionName" placeholder="mission description">
				</div>
			</div>
			<div class="modal-footer">
				<button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" data-bind="click: $parent.updateMission" data-dismiss="modal">Save changes</button>
			</div>
		</div>
	</div>
</form>

<form class="modal fade missionDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Mission Details</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="missionName">Name:</label>
					<input type="text" data-bind="value: missionName" class="form-control" id="missionName" placeholder="Mission Name">
				</div>
			</div>
			<div class="modal-footer">
				<button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" data-bind="click: addMission" data-dismiss="modal">Save changes</button>
			</div>
		</div>
	</div>
</form>
