﻿@section SPAViews {	
	<div data-bind="with: home">
		@Html.Partial("_Error")
	</div>
	<div data-bind="with: home">
		@Html.Partial("_Campaigns")
	</div>

	<div data-bind="with: home">
		@Html.Partial("_MissionCommands")
	</div>
}
@section Scripts{
	@Scripts.Render("~/bundles/knockout")
	@Scripts.Render("~/bundles/app")
}
